.xfce4-panel{
  border-radius: 10px; 
  margin-bottom: 10px;
}


#clock-button {
margin-left: 8px;
margin-right: 8px;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
}

#clock-button:checked {
margin-left: 8px;
margin-right: 8px;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
}

#clock-button:hover {
margin-left: 8px;
margin-right: 8px;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
}

#pulseaudio-button {
border-top-left-radius: 10px;
border-top-right-radius: 10px;
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
}

#pulseaudio-button:checked {
border-top-left-radius: 10px;
border-top-right-radius: 10px;
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
}

#pulseaudio-button:hover {
border-top-left-radius: 10px;
border-top-right-radius: 10px;
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
}

#xfce4-notification-plugin {
border-top-left-radius: 10px;
border-top-right-radius: 10px;
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
}

#xfce4-notification-plugin:checked {
border-top-left-radius: 10px;
border-top-right-radius: 10px;
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
}

#xfce4-notification-plugin:hover {
border-top-left-radius: 10px;
border-top-right-radius: 10px;
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
}

#sn-button{
    border-radius: 10px;
    background: #030818;

  }

#clock-button {
  font-family: URW Gothic;
  font-size: 18px;
  }

.xfce4-panel .tasklist .toggle:hover{
  border-radius: 100px;
  background: #030818;
}
.tasklist button image {
  border-radius: 10px;
  -gtk-icon-transform:scale(1) translateX(0px);
  opacity:1;
}

.tasklist button:checked {
  border-radius: 10px;
  background-image:none;
  background: #030818;
}


